@charset "utf-8";


.pg-form {}


.pg-form .pg-form-responses .error {
  color: #e27c7c;
  padding: 5px 10px;
  margin: 5px 0;
}

.pg-form .pg-form-responses .success {
  color: #2f6713;
  padding: 5px 10px;
  margin: 5px 0;
}

.pg-form-field.error .error-wrap {

  display: block !important;
}

.pg-form-field.error .error-wrap {
  color: #e27c7c;

}






.ComboBlocksPostGrid-lazyload {
  text-align: center;
  padding: 20px 0;
}



.ComboBlocksPostGrid-pagination.next_previous {
  display: flex;
  justify-content: space-between;
}

.ComboBlocksPostGrid-pagination.loadmore .page-numbers {
  cursor: pointer;
}

.ComboBlocksPostGrid-pagination.loadmore .loademore-icon {
  margin: 0 10px;
}

.ComboBlocksPostGrid-pagination .infinite-loader {
  display: none;
}

.ComboBlocksPostGrid-pagination .infinite-loader.visible {
  display: block;
}

.loop-loading {
  text-align: center;
}

.loop-loading .loademore-icon {
  margin: 0 10px;
}







.pg-tabs {}

.pg-tabs-panel {
  display: none;
}

.pg-tabs-panel-active {
  display: block;
}

.progress {}

.progress-fill {}


.pg-menu-wrap {}

.pg-menu-wrap .pg-menu {}

.pg-menu-wrap .pg-menu .has-child-menu {
  margin: 0 10px;
}

.pg-menu-wrap .pg-menu li {
  position: relative;
}

.pg-menu-wrap .pg-menu li:hover {}



.pg-menu-wrap .pg-menu li .pg-sub-menu {
  display: none;
  /* visibility: hidden; */
  position: absolute;
  top: 200%;
  transition: ease 1s 0s all;
  /* opacity: 0.4; */
}

.pg-menu-wrap .pg-menu li:hover>.pg-sub-menu,
.pg-menu-wrap .pg-menu li.active>.pg-sub-menu {
  display: block;
  top: 100%;
  /* visibility: visible; */
  /* opacity: 1; */
}




.pg-menu-wrap .pg-sub-menu .pg-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
}

.pg-menu-wrap .mobile-menu-toggle {
  display: none;
}

.mobile-menu-wrap .pg-menu {
  display: block !important;
}

.pg-menu-wrap .mobile-menu-wrap {
  /* visibility: hidden; */
  position: fixed;
  top: 0;
  right: -100%;
  transition: all 1s 0s ease;
}

.pg-menu-wrap .mobile-menu-wrap[active] {
  /* visibility: visible; */
  display: block;
  right: 0;

  padding: 20px;
  width: 80%;
  z-index: 99999;

}

@media (max-width: 900px) {
  .pg-menu-wrap {
    position: relative;
    justify-content: end !important;
  }

  .pg-menu-wrap nav .pg-menu {
    display: none !important;
  }

  .pg-menu-wrap .mobile-menu-toggle,
  .pg-menu-wrap .mobile-menu-wrap {
    display: block;
  }

  .pg-menu-wrap .pg-menu li {}

  .pg-menu-wrap .mobile-menu-wrap[active] .pg-menu li .pg-sub-menu {
    /* visibility: visible; */
    position: relative;
    /* opacity: 1; */
    /* padding: 0 0 15px 25px; */
    display: block;
  }

}